<ion-img src="/assets/logo.jpg" *ngIf="isMobile"></ion-img>
<ion-card [ngClass]="{'desktop': !isMobile, 'mobile': isMobile}">
  <ion-card-header *ngIf="!isMobile">
    <ion-img src="/assets/logo.jpg"></ion-img>
    <ion-card-title>Login</ion-card-title>
  </ion-card-header>

  <ion-card-content>

    <ion-item>
      <ion-icon slot="start" name="person-outline"></ion-icon>
      <ion-input id="email-input" type="email" placeholder="Email" [formControl]="email"></ion-input>
    </ion-item>
    <div *ngIf="errors.email" class="alert">
      <span>Introduzca un email válido</span>
    </div>
    
    <ion-item>
      <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
      <ion-input id="password-input" type="password" placeholder="Contraseña" [formControl]="password"></ion-input>
    </ion-item> 
    <div *ngIf="errors.password" class="alert">
      <span>Introduzca una contraseña mayor de 5 caracteres</span>
    </div>

    <ion-item lines="none">
      <ion-label>Recordar</ion-label>
      <ion-toggle [formControl]="remind"></ion-toggle>
    </ion-item>

    <ion-button 
      id="signin-button"
      mode="ios"
      [expand]="buttonStyles.expand"
      [fill]="buttonStyles.fill" 
      [shape]="buttonStyles.shape"  
      [strong]="buttonStyles.strong"
      (click)="checkFormValues()">Acceder</ion-button>

  </ion-card-content>
</ion-card>